  <launch>
    <node pkg="tf_frames_republisher" type="camera_tf_broadcaster.py"
          name="camera_broadcaster_fixed" />

    <node pkg="tf_frames_republisher" type="brick_tf_rebroadcaster.py"
          name="brick_rebroadcaster_fixed" />

    <!-- <node pkg="tf_frames_republisher" type="brick_tf_broadcaster.py"
          name="brick_broadcaster_fixed" /> -->
  </launch>
