<?xml version="1.0"?>
    <robot name="ur10e_mobilecart_liftkit" xmlns:xacro="https://ros.org/wiki/xacro">
        <!-- mobilecart_liftkit_600mm -->
        <xacro:include filename="mobilecart_liftkit_600mm.xacro"/>
        <!-- ur10e -->
        <xacro:include filename="$(find ur_description)/urdf/ur10e.xacro" />

        <link name="world" />

        <joint name="mobilecart_footprint_joint" type="fixed">
            <parent link="world" />
            <child link="mobilecart" />
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </joint>

        <xacro:mobilecart_liftkit_600mm prefix=""/>
        

        <joint name="attachment_joint" type="fixed">
            <parent link="liftkit_600mm" />
            <child link="base_link" />
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </joint>


    </robot>
