<launch>
    <arg name="robot_ip" default="192.168.131.41"/>

    <include file="$(dirname)/core.launch">
    </include>

    <include file="$(find ur10e_mobilecart_liftkit_600mm_moveit_config)/launch/move_group.launch">
    </include>

    <include file="$(find ur10e_mobilecart_liftkit_600mm_moveit_config)/launch/moveit_rviz.launch">
    </include>

</launch>
